div#head {
    width: 100%;
    text-align: center;

    span {
        font-size: 30px;
    }
    p#source {
        font-size: 0.8rem;
    }
}

div#buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        padding: 5px;
        margin: 5px;
        border-radius: 15%;
    }
}


